# Python
__pycache__/
*.pyc

# Logs
logs/
airflow/logs/
*.log

# Model artifacts
models/*.pkl

# MLflow files
mlruns/

# OS / IDE
.vscode/
*.DS_Store
airflow/
mlruns/
src/eda/
src/mlflow_tracking.py
src/registry_old.py
src/train_old.py
logs/
